In [122]:
#import the lybrary
import pandas as pd
import time

#set display options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1500)
pd.set_option('display.max_colwidth', -1)

#start the time to run this program (optional)
start = time.time()

#load in your spreadsheet/dataframe
df = pd.read_excel('NonSAP_Reporting_CoE_Master File (4).xlsx',skiprows=1)

#drop nulls
df = df.dropna()

#remove all the columns you don't need (optional)
df = df[['Underlying Data Elements','CleansedSourceSystem']]

#remove special characters
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^",
              "_","`","{","|","}","~","â€“","\n"]

for char in spec_chars:
    df['Underlying Data Elements'] = df['Underlying Data Elements'].str.replace(char, '')

#and lastly converty each row in the underlying data elements column to lists, 
#then explode each element in each list with the corresponding columnd (easy b/c there was only two columns))
#then call only the two columns you need (b/c this code made one extra column)
#and call head(20) which shows top 20 rows
exploded_df = pd.DataFrame(df.assign(Underlying_Data_Elements=df['Underlying Data Elements'].str.split(",")))\
.explode('Underlying_Data_Elements')\
[['Underlying_Data_Elements','CleansedSourceSystem']]

#set end time (optional)
end = time.time()

#print the time it took to run this little program (optional)
print('Runtime: ',round(end - start,2),'seconds',"\n")

#print what the dataframe originally looked like (optional)
print(df.head())

#call exploded_df sample output (which is the name of our dataframe at this point)
exploded_df.drop_duplicates().sample(20)

#create excel file
# df.to_excel('df_to_explode.xlsx',index=False)

<ipython-input-122-27106ae4e707>:9: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

Runtime:  0.42 seconds

                                                                                                                                                                                                                                                                                                                                Underlying Data Elements CleansedSourceSystem
134  Total outbound transportation cost, total cost by base freight, total cost by assessorial charges, Total estimated outbound transportation cost, total estimated cost by base freight, total estimated cost by assessorial charges, Total returns transportation cost, total returns cost by base freight, total returns cost by assessorial charge  New
135  Total outbound transportation cost, total cost by base freight, total cost by assessorial charges                                                                                                                                                                                                                                                    New
137  CCD dates, Actual Shipmemnt date, Div Cd, Ctry cd, Ship to Cust City, SO doc hldr nbr, Dlvry doc nbr, BOLMAWB number, DC ship qty, OB shipment Crtn cnt, Div vol, Cust ship to cd, shpg type cd, plant ID cd                                                                                                                                         Cognos
138  CCD dates, Actual Shipmemnt date, Div Cd, Ctry cd, Ship to Cust City, SO doc hldr nbr, Dlvry doc nbr, BOLMAWB number, DC ship qty, OB shipment Crtn cnt, Div vol, Cust ship to cd, shpg type cd, plant ID cd                                                                                                                                         Cognos
139  Order volumes for the time period, historical demand trend                                                                                                                                                                                                                                                                                           NDF

                      Underlying_Data_Elements CleansedSourceSystem
141  Total planned transportation cost          SAP
140  Total freight cost                         SAP
137  CCD dates                                  Cognos
137   OB shipment Crtn cnt                      Cognos
134   total cost by assessorial charges         New
137   plant ID cd                               Cognos
140   mode of transportation                    SAP
134   total returns cost by base freight        New
511  POS                                        Tableau
503  Currency                                   Tableau
141   total cartons by packlist                 SAP
501  Inventory Valuation                        Tableau
137   DC ship qty                               Cognos
134   total returns cost by assessorial charge  New
141   total units by packlist                   SAP
504   Profit Center                             Tableau
139  Order volumes for the time period          NDF
137   Div Cd                                    Cognos
504   Customer Master                           Tableau
140   carrier data                              SAP

In [118]:
#explode dataframe columns function
def explode_function(df, df_explode_col, df_group_col):
    
    #drop nulls
    df = df.dropna()
    
    #load in your spreadsheet/dataframe
    df = pd.read_excel('NonSAP_Reporting_CoE_Master File (4).xlsx',skiprows=1)

    #remove all the columns you don't need (optional)
    df = df[[df_explode_col, df_group_col]]

    #remove special characters
    spec_chars = ["!",'"',"#","%","&","'","(",")",
                  "*","+","-",".","/",":",";","<",
                  "=",">","?","@","[","\\","]","^",
                  "_","`","{","|","}","~","â€“","\n"]

    for char in spec_chars:
        df[df_explode_col] = df[df_explode_col].str.replace(char, '')

    #and lastly converty each row in the underlying data elements column to lists, 
    #then explode each element in each list with the corresponding columnd (easy b/c there was only two columns))
    #then call only the two columns you need (b/c this code made one extra column)
    #and call head(20) which shows top 20 rows
    exploded_df = pd.DataFrame(df.assign(Exploded_Column=df[df_explode_col].str.split(",")))\
    .explode('Exploded_Column')\
    [['Exploded_Column',df_group_col]]
    
    return(exploded_df)

In [121]:
#call function and exploded df
exploded_df = explode_function(df,'Underlying Data Elements', 'CleansedSourceSystem').sample(20)
exploded_df

                             Exploded_Column CleansedSourceSystem
592   Pricing                                 workbench_tool
6    Shipment                                 Tableau
484   origphyssrcsyssk                        Snowflake
484   zzhbkid                                 Snowflake
145  No Remediation required  Refer Comments  Cognos
140   carrier data                            SAP
454   Material                                Cognos
485  activeindicator                          Snowflake
439  Dlvry Unit Qty                           Cognos
287  PlantSold to                             Unknown
69    FW and Apparel Classifications          Teradata
222  GL balances                              BPC
147  No Remediation required  Refer Comments  Cognos
485   activeindicator                         Snowflake
127  Total ASN sent                           WMS
484   netdt                                   Snowflake
461   RTW                                     Manual
296  Dlvry Crt Qty  Net Amt  Whlsl Amt        Teradata
316  Logistics Cost                           Teradata
540  Sales and Revenue data                   BW